<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Weather - @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand"><a href="/" class="nav">Asp.Net Core Demo</a></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        @RenderBody()
    </div>
</body>
</html>
