<div class="box">
    <table class="table">
        <tbody>
            <tr>
                <td>@Model.CityName</td>
                <td>@Model.DateAndTime</td>
                <td>@Model.TemperatureFahrenheit °F</td>
            </tr>
        </tbody>
    </table>
</div>
<a href="/home">Back to Weather Home Page</a>
